<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fund My Project!</title>
 <!-- <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">-->
  <script src="https://cdn.tailwindcss.com"></script>   
</head>

<body class="bg-gray-700">
  <header class="md:mx-20">  
      <nav>
          <div class="flex flex-wrap items-center justify-between my-5 py-5 md:mx-10">
              <ul class="flex flex-col md:flex-row">
                  <li class="py-2 px-8 rounded hover:bg-gray-500">
                      <a href="/" class="text-orange-200">Home</a>
                  </li>
                  {{#if logged_in}}
                  <li class="py-2 px-8 rounded hover:bg-gray-500">
                      <a href="/dashboard" class="text-orange-200">Dashboard</a>
                  </li>               
                  <li class="py-2 px-8 rounded hover:bg-gray-500">
                      <a href="/logout" class="text-orange-200">Logout</a>
                  </li>
                  {{else}}
                  <li class="py-2 px-8 rounded hover:bg-gray-500">
                      <a href="/login" class="text-orange-200">Login</a>                
                  </li>
                   {{/if}}
              </ul>
          </div>
      </nav>           
      
      <div class="flex p-4 my-4 md:mx-5">
          <div class="mx-auto p-2 md:mx-6 border-2 border-orange-200 rounded-lg bg-orange-200 shadow-xl shadow-current">
              <h1 class="text-3xl font-extrabold tracking-wider text-gray-700">The Tech Blog</h1>
          </div>           
      </div>
    </header>
 <!-- <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
     
      <nav class="navbar">
        <a href="/">Home</a>
       
        {{#if logged_in}}
        <a href="/dashboard">Dashboard</a> |
        <button class="no-button" id="logout">Logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
      </nav>
      <h1>The Tech Blog</h1>
    </header>-->

   <main class="bg-orange-200 py-2 md:mx-20 md:px-10 shadow-xl rounded-lg shadow-current">
     
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  <!--</div>-->


  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  <!--<div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
     
      <nav class="navbar">
        <a href="/">Home</a>
       
        {{#if logged_in}}
        <a href="/dashboard">Dashboard</a> |
        <button class="no-button" id="logout">Logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
      </nav>
      <h1>The Tech Blog</h1>
    </header>
    <main class="container container-fluid mt-5">
     
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>


  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}-->
</body>

</html>
