<!-- 
{{#each comments as |comment| }}
<div class="row mb-4 comment">
  <div class="col-md-5">
    <h2>
 
      {{{get_emoji}}}
      <a href="/comment/{{comment.id}}">{{comment.title}}</a>
    </h2>
    <p>
      <span for="img" aria-label="money">💲</span>
      
      <span class="dollar-amount">No money</span>
      needed!
    </p>
    <p>Created by {{comment.user.name}} on {{format_date comment.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{comment.content}}
    </p>
  </div>
</div>
{{/each}}-->
<div class="flex p-4 my-4 md:mx-5">
      <div class="mx-auto p-2 md:mx-28 border-2 border-orange-200 rounded-lg bg-orange-200 shadow-xl shadow-current">
          <h1 id="heading" class="text-3xl font-extrabold tracking-wider text-gray-700">The Tech Blog</h1>
      </div>           
</div>

<div class="bg-orange-200 py-2 md:mx-20 md:px-10 shadow-xl rounded-lg shadow-current">

{{#each comments as |comment| }}
 <div class="flex flex-wrap flex-col m-5 border-2 border-gray-700 shadow-lg shadow-current rounded">
    <div class="flex flex-wrap flex-col md:flex-row md:justify-between bg-gray-700">               
      <div class="px-4 py-2">
          <h2 class="text-xl text-orange-200 font-bold">
            <a href="/comment/{{comment.id}}">{{comment.title}}</a>
          </h2>
      </div>                
      <div class="px-4 py-2">
          <h2 class="text-sm text-orange-200">Posted by {{comment.user.name}} on {{format_date comment.date_created}}</h2>
      </div>               
    </div>            
    <p class="p-4">{{comment.content}}</p>
  </div>
  {{/each}}
 </div> 

